<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    body{
        background-color: #353b48;
        color:wheat
    }
    div{
    width: 65vh;
    height: 65vh;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -35vh;  
    margin-top: -35vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    </style>
</head>
<body>
    <div>
        <span style="font-size: 50px;">Error</span>
        <br>
        <span><%= title %></span>
        <br>
        <span><%= info %></span>
    </div>
</body>
</html>