<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My_page</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9b79e876aa.js" crossorigin="anonymous"></script>
    <script src="js/mian.js" defer></script>
</head>
<body>
    <!--Navigation-->
    <nav class="navbar">
        <a href="#" class="logo">
            <i class="fab fa-artstation"></i>
            <b>강철화장실</b>
        </a>
        <div class="togglebtn">
            <i class="fas fa-bars"></i>
        </div>
        <div class="navbar_menu">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#Abilitys">Ability</a>
            <a href="#Education">Education</a>
            <a href="#contact">Contact</a>
            <a href="/info"><%= name %></a>
            <a href="/logout">Log out</a>
            <span class="download">
                <a href="#">APP Download</a>
            </span>
        </div>
    </nav> 
    <!--Home-->
    <section id="home">
        <div class="inner_width">
            <div class="content">
                <p>
                    강철화장실은 <br>
                    <b></b> <br>
                    입니다.
                </p>
                    <div class="buttons">
                        <a href="#">더 알아보기</a>
                    </div>
            </div>
            <div class="content_1">
                <table >
                    <tbody>
                        <tr>
                            <td style="background-color: #396afc; box-shadow: none;"></td>
                            <td style="background-color: white">
                                <i class="far fa-building" style="color: #2899E5;"></i>
                            </td>
                            <td style="background-color: white;">
                                <i class="fas fa-database" style="color: #FC5F52;"></i>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color: white;">
                                <i class="fas fa-project-diagram" style="color: #71D598;"></i>
                                <div class="blocks_2"></div>
                            </td>
                            <td style="background-color: white;">
                                <div class="blockstop"></div>
                                <div class="blocksrigth"></div>
                                <div class="blocksleft"></div>
                                <i class="fas fa-mobile-alt" style="color: rgb(49, 47, 47);"></i>
                            </td>
                            <td style="background-color: white;">
                                <i class="fas fa-restroom" style="color: #261BC9;"></i>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color: white;">
                                <i class="fas fa-lock" style="color: rgb(248, 248, 86);"></i>
                            </td>
                            <td style="background-color: white;">
                                <i class="fas fa-heart" style="color: #FFC6E0;"></i>
                            </td>
                            <td style="background-color: #396afc; box-shadow: none;"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <!--about-->
    <section id="about">
        <div class="inner_width">
            <div class="content">
                <img src="img/qq.png">
                <i class="far fa-hand-pointer"></i>
            </div>
            <div class="content_1">
                <p>
                    강철화장실은 <br>
                    <b>강하다</b> <br>
                    입니다.
                </p>
            </div>
        </div>
    </section>

    <!--Ability-->
    <section id="Abilitys">
        <div class="inner_width">
            <div class="content">
                <p>
                    강철화장실은 <br>
                    <b>강하다</b> <br>
                    입니다.
                </p>
            </div>
            <div class="content_1">
                <img src="img/img2.png">
            </div>
        </div>
    </section>

    <!--Education-->
    <section id="Education">
        <div class="inner_width">
            <div class="content">
                <img src="img/img2.png">
            </div>
            <div class="content_1">
                <p>
                    강철화장실은 <br>
                    <b>강하다</b> <br>
                    입니다.
                </p>
            </div>
        </div>
    </section>

    <!--Contact-->
    <section id="contact">
        <div class="inner_width">
            <h3>News</h3>
            <div class="news">
                <div class="newsinfo">
                    <div>
                        <img src="img/news1.jpg">
                        <p>
                            <p class="title">교사가 고교 화장실서 116명 불법촬영…서울교육청, 뒤늦게 퇴출</p>
                            <br>
                            서울 용산경찰서는 고교 기숙사와 화장실에 카메라를 설치해 불법 촬영한 30대 교사 A씨를 구속했다고 29일 밝혔다.
                        </p>
                    </div>
                    <div>
                        <img src="img/news1.jpg">
                        <p>
                            <p class="title">교사가 고교 화장실서 116명 불법촬영…서울교육청, 뒤늦게 퇴출</p>
                            <br>
                            서울 용산경찰서는 고교 기숙사와 화장실에 카메라를 설치해 불법 촬영한 30대 교사 A씨를 구속했다고 29일 밝혔다.
                        </p>
                    </div>
                    <div>
                        <img src="img/news1.jpg">
                        <p>
                            <p class="title">교사가 고교 화장실서 116명 불법촬영…서울교육청, 뒤늦게 퇴출</p>
                            <br>
                            서울 용산경찰서는 고교 기숙사와 화장실에 카메라를 설치해 불법 촬영한 30대 교사 A씨를 구속했다고 29일 밝혔다.
                        </p>
                    </div>
                </div>
            </div>
            <form action="#" class="contact_form">
                <input type="submit" value="Send Message" class="btn" style="display: none;">
            </form>
        </div>
    </section>
    <!--Footer-->
    <footer>
        <div class="inner_width">
            <div class="copyright">
                &copy; 2021 | Created  <a href="#">JongBuem</a>
            </div>
            <div class="sm">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i></a>
                <i class="fab fa-github"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </footer>
    <a href="#home"><button class="goTop fas fa-arrow-up"></button></a>
</body>
</html>